@import "tailwindcss";

html, body {
  overscroll-behavior-y: contain;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(165, 165, 141, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(165, 165, 141, 0.7);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(165, 165, 141, 0.4) transparent;
}
